.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 98.3%;
    height: 120px;
    background-color: #DDD3D3;
    color: black;
    margin-top: -1%;
    margin-left: -1%;
  


    .button {
        background-color: black;
        color: white;
    }
}

body {
    background-color: white
}

.buttoncenter {
    display: block;
    margin-left: 70%;
    margin-right: auto;
    width: 50%;
   
}


h1{
   margin-left: 45%;
   margin-top: 5%;
   font-family: Arial, Helvetica, sans-serif;
}


.about {
    color: black;
    margin-left: 10%;
    margin-top: 10%;
    font-family: Arial, Helvetica, sans-serif;
    

    

 button{
    background-color: black;
    color: white;
 }
}

.menu {
    color: black;
    margin-top: -10%;
    position: absolute;
    right: 0;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    

    

 button{
    background-color: black;
    color: white;
 }
}

.houseicon {
    margin-left: 0%;
}