.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 343%;
    height: 120px;
    background-color: #DDD3D3;
    color: black;
    margin-top: -103%;


    .button {
        background-color: black;
        color: white;
    }
}

body {
    background-color: white
}

.buttoncenter {
    display: block;
    margin-left: 70%;
    margin-right: auto;
    width: 50%;
   
}


h1 {
    
    font-size: 50px;
    color: black;
    margin-top: -50%;
    margin-left: 145%

}